*{
  margin: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  
  
}
.number-class {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    font-size: 1.1em;
    color: #545454;
  }

.operation-class{
  background: linear-gradient(-45deg, #a04e35, #fdb51a);
  border: none;
  border-radius: 50%;
  font-size: 0.9em;
  color: #FCFCFC;
}

.sum-class, .equal-class{
  border: none;
  border-radius: 5em;
  font-size: 1.5em;
  color: #FCFCFC;
}
.sum-class {
  background: linear-gradient(-45deg, #a04e35, #fdb51a);
}

.equal-class {
  background: linear-gradient(-45deg, #E73C7E, #804c60);
}

body {
  background: linear-gradient(-45deg, #d0ec51, #E73C7E);
  height: 100vh;
}

.big-calculator{
  display: grid;
  gap: 0.7em;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "totalresult totalresult totalresult totalresult totalresult"
  "subresult subresult subresult subresult subresult"
  "button-7 button-8 button-9 button-min button-div"
  "button-4 button-5 button-6 button-plus button-mult"
  "button-1 button-2 button-3 button-plus button-nega"
  "button-0 button-comma button-clear button-equal button-equal";
  background: #FCFCFC;
  border-radius: 7%;
  width: fit-content;
  height: fit-content;
  box-shadow: 2px 4px 6px black;
  padding: 2em 0.9em 2em 0.9em;
}

#totalresult {
  display: flex;
  font-size: 2em;
  grid-area: totalresult;
  align-items: flex-end;
  flex-flow: row-reverse;
  padding-right: 0.4em;
  color: #545454;
}

#subresult{
  display: flex;
  font-size: 1em;
  grid-area: subresult;
  align-items: baseline;
  flex-flow: row-reverse;
  font-weight: 300;
  padding-right: 0.8em;
  color: #545454;

}

#button-7{
  grid-area: button-7;  
}
#button-8{
  grid-area: button-8;  
}
#button-9{
  grid-area: button-9;  
}
#button-min{
  grid-area: button-min;  
}
#button-div{
  grid-area: button-div;  
}
#button-4{
  grid-area: button-4;  
}
#button-5{
  grid-area: button-5;  
}
#button-6{
  grid-area: button-6;  
}
#button-plus{
  grid-area: button-plus;  
}
#button-mult{
  grid-area: button-mult;  
}
#button-1{
  grid-area: button-1;  
}
#button-2{
  grid-area: button-2;  
}
#button-3{
  grid-area: button-3;  
}
#button-nega{
  grid-area: button-nega;  
}
#button-0{
  grid-area: button-0;  
}
#button-comma{
  grid-area: button-comma;  
}
#button-clear{
  grid-area: button-clear;  
}
#button-equal{
  grid-area: button-equal;  
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}